@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(30, 31, 30);
  color: bisque;
}
@layer components {
  .gradient {
    @apply bg-gradient-to-r from-orange-600 to-orange-900 py-3 px-4 rounded-md;
  }
}
